@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans:wght@400;600&family=Vollkorn:ital@0;1&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex;
	flex-direction: column;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2 {
	font: normal normal bold 28px/35px Vollkorn;
	letter-spacing: 0px;
	color: #222;
	text-align: left;
	padding-bottom: 3%;
}

p {
	font: normal normal normal 18px/35px Karla;
	letter-spacing: 0px;
	color: #222;
	text-align: left;
}

li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #222;
	letter-spacing: 0px;
}

.link-list {
	line-height: 1.5rem;
}

.learn-link {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #222;
}

button {
	height: 50px;
	width: 130px;
	border-radius: 7px;
	background-color: #60AC5C;
	font: 'Open Sans', sans-serif;
	font-weight: bold;
	color: white;
}

#intro1, #intro2, #small-biz, #strategies_block, #resources_block, .listings, #articles_block, #browse_listings_block, #survey_cta_block, #about_block, #collaborate_cta {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#intro1 {
	border: 7px #FFBB89;
	border-style: solid solid solid none;
	width: 90%;
	left: -40px;
	margin-top: 3%;
	margin-bottom: 1.5%;
}

#intro2 {
	border: 7px #74E58E;
	border-style: solid none solid solid;
	margin: 1.5% 0 1.5% 0;
}

#small_biz h1 {
	text-align: center;
	margin: 15px;
	padding: 20px;
	font: normal normal bold 35px/40px Vollkorn;
	letter-spacing: 0px;
	color: #222222;
}

#strategies_block {
	border: 7px #FFEF95;
	border-style: solid solid solid none;
	width: 90%;
	left: -40px;
	margin: 1.5% 0 1.5% 0;
}

#resources_block {
	border: 7px solid #E8C3FF;
	border-style: solid none solid solid;
	margin: 1.5% 0 1.5% 0;
}

#articles_block {
	border: 7px #98DEF7;
	border-style: solid solid solid none;
	width: 90%;
	left: -40px;
	margin: 1.5% 0 1.5% 0;
}

#browse_listings_block {
	justify-content: center;
}

#survey_cta_block {
	justify-content: center;
	background: #F2F2F2 0% 0% no-repeat padding-box;
}

#collaborate_cta {
	justify-content: center;
	background: #F2F2F2 0% 0% no-repeat padding-box;
}

img {
	height: 480px;
	width: auto;
}

img.foreground {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

img.background {
	position: relative;
	left: 35%;
	top: auto;
	z-index: -1;
}

.img-container {
	margin-right: 10%;
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 375px) {
	#intro1, #intro2, #small-biz, #strategies_block, #resources_block, .listings, #articles_block {
		flex-direction: column;
	}

	#intro2, #resources_block {
		flex-direction: column-reverse;
	}
}