* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* NAV STYLES */
.nav-bar {
	font-size: 20px;
	font-weight: bold;
	/* temp font */
	font-family: Arial, Helvetica, sans-serif;
}

.nav-bar a {
	text-decoration: none;
}

.nav-bar label {
	cursor: pointer;
}

.nav-bar input {
	height: 0; width: 0;
	position: absolute;
}

.nav-bar .logo {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 10px 20px;
}

.nav-bar .logo img {
	height: 30px;
	width: auto;
}

#menu-btn {
	height: 50px;
	line-height: 50px;
	float: right;
	padding: 0px 25px;
}

a.nav-link,
label.nav-label {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 20px 40px;
	background-color: #60AC5C;
	color: #ffffff;
	border-top: 2px solid white;
}

a.nav-link:visited {
	color: #ffffff;
}

.subnav a.nav-link {
	font-size: 17px;
	padding: 15px 0px 15px 60px;
	text-decoration: underline;
	border: none;
}

.subnav li:first-of-type a.nav-link {
	padding-top: 5px;
}

.subnav li:last-of-type a.nav-link {
	padding-bottom: 30px;
}

/* SHOW/HIDE NAV */
#nav-list {
	height: 0;
	overflow: hidden;
}

input#menu:checked + #nav-list {
	height: 100%;
}

.subnav {
	height: 0;
	overflow: hidden;
}

#library input:checked + .subnav {
	height: 100%;
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
	.nav-bar {
		font-size: 17px;
	}

	.nav-bar .logo img {
		height: 50px;
	}

	#menu-btn,
	#home {
		display: none;
	}

	#nav-list {
		height: 100%;
	}

	#main {
		position: absolute;
		top: 0; right: 0;
	}

	#main ul,
	#library ul {
		display: flex;
		flex-direction: row;
	}

	#library > ul {
		align-items: center;
		justify-content: center;
		background-color: #222222;
	}

	a.nav-link,
	a.nav-link:visited {
		border: none;
	}

	#main a.nav-link {
		color: #222222;
		background-color: #ffffff;
		padding: 0px 80px;
		height: 60px;
	}

	#nav-list li.library {
		position: relative;
	}

	label.nav-label {
		font-size: 14px;
		background-color: #222222;
		color: #ffffff;
		border: none;
	}

	.subnav {
		position: absolute;
		left: 0; top: 117px;
		background-color: #60AC5C;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	.subnav a.nav-link {
		font-size: 12px;
		padding: 0px 60px;
		text-decoration: none;
		border: none;
		height: 100%;
	}

	.subnav li:first-of-type a.nav-link {
		padding-top: 0;
	}

	.subnav li:last-of-type a.nav-link {
		padding-bottom: 0;
	}

	/* SHOW/HIDE NAV */
	label.nav-label:hover {
		background-color: #60AC5C;
	}

	label.nav-label:hover ~ .subnav,
	.subnav:hover  {
		height: 42px;
	}

	li#library > ul > li:hover > label.nav-label {
		background-color: #60AC5C;
	}
}