@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans:wght@400;600&family=Vollkorn:ital@0;1&display=swap');

/* Fonts, Typography, Buttons Styles */
* {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	margin: 0 auto;
	width: 100%;
	padding-top: 50px;
}

ol, ul {
	list-style: none;
}

h1, h2 {
	font-family: 'Vollkorn';
	letter-spacing: 0px;
	color: #222;
	text-align: center;
}

p {
	font: normal normal normal 18px/35px Karla;
	letter-spacing: 0px;
	color: #222;
	text-align: center;
}

a:hover {
	color: #60AC5C; 
  }

li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #222;
	letter-spacing: 0px;
	line-height: 2.5rem;
}

.link-list {
	line-height: 1.5rem;
}

.learn-link {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #222;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 0 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #60AC5C;
  border-radius: 5px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif; 
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; 
}

/* Images */

img {
	height: 200px;
	width: auto;
}

img.foreground {
	position: absolute;
	left: -30px;
	top: 0px;
	z-index: 1;
}

img.background {
	position: relative;
	left: 15%;
	z-index: -1;
}

.img-container {
	margin-right: 10%;
}

.text-conatiner {
	text-align: center;
}

/* Layout Styling */

#intro1, #intro2, #small-biz, #strategies_block, #resources_block, 
#browse_listings_block, #articles_block, #browse_listings_block, 
#survey_cta_block, #about_block, #collaborate_cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
}

#intro1 {
	/* width: 95%; */
	left: -45px;
	margin-top: 3%;
	margin-bottom: 1.5%;
}

#intro1 .img-container {
	border: 7px #FFBB89;
	border-style: solid solid solid none;
}

#intro2 .img-container {
	border: 7px #74E58E;
	border-style: solid none solid solid;
}

#small_biz h1 {
	text-align: center;
	margin: 15px;
	padding: 20px;
	font: normal normal bold 35px/40px Vollkorn;
	letter-spacing: 0px;
	color: #222222;
}

#strategies_block {
	/* width: 90%; */
	left: -40px;
	margin: 1.5% 0 1.5% 0;
}

#strategies_block .img-container {
	border: 7px #FFEF95;
	border-style: solid solid solid none;
}

#resources_block {
	border: 7px solid #E8C3FF;
	border-style: solid none solid solid;
	margin: 1.5% 0 1.5% 0;
}

#articles_block {
	border: 7px #98DEF7;
	border-style: solid solid solid none;
	/* width: 90%; */
	left: -40px;
	margin: 1.5% 0 1.5% 0;
}

#browse_listings_block {
	justify-content: center;
	text-align: center;
}

#survey_cta_block {
	justify-content: center;
	background-color: #F2F2F2;
	text-align: center;
}

#about_block {
	background-color: #74e58e74;
}

.our-team, .our-initiative {
	text-align: center;
}

.our-initiative {
	margin-top: 45px;
	margin-bottom: 25px;
}

#collaborate_cta {
	justify-content: center;
	background-color: #F2F2F2;
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {

	body {
		font-size: 1.3em;
	}

	h1, h2 {
		font-weight: 800;
	}

	#intro1, #intro2, #small-biz, #strategies_block, 
	#resources_block, .listings, #articles_block, 
	#browse_listings_block, #survey_cta_block, 
	#about_block, #collaborate_cta {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#intro1 {
		text-align: left;
		border: 7px #FFBB89;
		border-style: solid solid solid none;
	}

	#intro1 .img-container {
		border: none;
	}

	#intro1 .text-container h1, p {
		text-align: left;
	}

	#intro2 {
		border: 7px #74E58E;
		border-style: solid none solid solid;
  }

	#intro2, #resources_block {
		flex-direction: column-reverse;
  }
}

/* NAV STYLES */
#nav-bar-container {
	position: fixed;
	top: 0; left: 0;
	width: 100vw;
	z-index: 2;
}

#nav-bar-container #bg {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	z-index: -1;
}

.nav-bar {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.nav-bar a {
	text-decoration: none;
}

.nav-bar label {
	cursor: pointer;
}

.nav-bar input {
	height: 0; width: 0;
	position: absolute;
}

.nav-bar li {
	text-decoration: none;
}

.nav-bar .logo {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 10px 20px;
}

.nav-bar .logo img {
	height: 30px;
	width: auto;
}

#menu-btn {
	height: 50px;
	line-height: 50px;
	float: right;
	padding: 0px 25px;
}

#resources-btn {
	display: none;
}

.nav-link,
.nav-label {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 20px 40px;
	background-color: #60AC5C;
	color: #ffffff;
	border-top: 2px solid white;
}

.nav-label {
	justify-content: space-between;
}

.nav-link:visited {
	color: #ffffff;
}

.subnav .nav-link {
	font-size: 17px;
	padding: 15px 0px 15px 60px;
	text-decoration: underline;
	border: none;
}

.subnav li:first-of-type a.nav-link {
	padding-top: 5px;
}

.subnav li:last-of-type a.nav-link {
	padding-bottom: 30px;
}

.arrow {
	width: 16px;
	height: auto;
	filter: invert(99%) sepia(4%) saturate(867%) hue-rotate(247deg) brightness(123%) contrast(100%);
}

/* SHOW/HIDE NAV */
#global-nav {
	height: 0;
	overflow: hidden;
}

#menu-input:checked ~ #global-nav {
	height: 100%;
}

.subnav {
	height: 0;
	overflow: hidden;
}

#library input:checked ~ .subnav {
	height: 100%;
}

#library input:checked + label > img {
	transform: rotate(90deg);
}

/* TABLET */
@media screen and (min-width: 1200px) {
	body {
		padding-top: 62px;
	}

	#nav-bar-container #bg {
		height: 62px;
	}

	.nav-bar {
		font-size: 17px;
		display: flex;
		padding: 0 50px;
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}

	.nav-bar .logo {
		height: 62px;
		line-height: 62px;
		padding: 8px 20px;
	}

	.nav-bar .logo img {
		height: 46px;
	}

	#menu-btn,
	#home-btn {
		display: none;
	}

	#resources-btn {
		position: absolute;
		top: 0; left: 0;
		width: 225px;
		height: 62px;
		line-height: 62px;
		color: #222222;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#main .nav-link {
		color: #222222;
		background-color: #ffffff;
		padding: 0px 70px;
		height: 62px;
	}

	#global-nav {
		height: 100%;
		width: 100%;
		position: relative;
	}

	#global-nav > ul {
		display: flex;
		justify-content: flex-end;
	}

	#main ul {
		display: flex;
		flex-direction: row;
	}

	.nav-link,
	.nav-link:visited {
		border: none;
	}

	#global-nav li#library {
		position: relative;
		height: 1000px;
		display: block;
		width: 225px;
	}

	.nav-label {
		font-size: 14px;
		color: #ffffff;
		padding: 20px 25px;
	}

	.subnav .nav-link {
		font-size: 12px;
		padding: 10px 40px;
		height: 100%;
		line-height: 1.5em;
	}

	.arrow {
		width: 8px;
	}

	/* SHOW/HIDE NAV */
	input#resources ~ ul {
		height: 0;
		width: 225px;
		overflow: hidden;
		position: absolute;
		top: 62px; left: 0;
	}

	input#resources:checked ~ ul {
		height: 100%;
	}

	input#resources:checked + label {
		background-color: #60AC5C;
		color: #ffffff;
	}

	#intro2 .img-container {
		border: none;
		order: 1;
	}

	#intro2 .text-container h1, p {
		text-align: left;
	}

	#strategies_block {
		border: 7px #FFEF95;
		border-style: solid solid solid none;
	}

	#strategies_block .img-container {
		border: none;
	}

	img {
		display: block;
		height: 450px;
		width: auto;
	}
	
	img.foreground {
		position: absolute;
		left: -30px;
		z-index: 1;
	}
	
	img.background {
		position: relative;
		left: 35%;
		z-index: -1;
	}

	.img-container {
		margin-right: 10%;
	}

	#about_block {
		margin: 4%;
		background-color: #FFF;
		text-align: center;
	}

	.our-initiative {
		margin-top: 0;
		margin-bottom: 0;
	}

	.our_team, .our_initiative {
		padding: 30px;
		background-color: #FFF;
		text-align: center;
	}

	#collaborate_cta {
		justify-content: space-around;
		padding: 5%;
	}

	.collab-text {
		margin-right: 25px;
	}

	#listings-btn, #survey-btn {
		margin-top: 5%;
	}

}