<div id="nav-bar">
    <div id="menu">
        <a href="#">
            <img class="logo" src="images/ayv-logo-fullcolor-horizontal.png" />
        </a>
        <button id="menu-btn">Menu</button>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li id="resource-library">
                <ul>
                    <li>
                        <button class="subnav-btn">Digital Strategies</button>
                        <ul class="subnav">
                            <li>
                                <a href="#">Social Media</a>
                            </li>
                            <li>
                                <a href="#">Website</a>
                            </li>
                            <li>
                                <a href="#">Digital Marketing</a>
                            </li>
                            <li>
                                <a href="#">Advertising</a>
                            </li>
                            <li>
                                <a href="#">Payments</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button class="subnav-btn">Growth Opportunities</button>
                        <ul class="subnav">
                            <li>
                                <a href="#">Funding</a>
                            </li>
                            <li>
                                <a href="#">Consulting Programs</a>
                            </li>
                            <li>
                                <a href="#">Webinars</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button class="subnav-btn">Local Resources</button>
                        <ul class="subnav">
                            <li>
                                <a href="#">City</a>
                            </li>
                            <li>
                                <a href="#">State</a>
                            </li>
                            <li>
                                <a href="#">Non-profit</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button class="subnav-btn">Business Articles</button>
                        <ul class="subnav">
                            <li>
                                <a href="#">Impact Local Economy</a>
                            </li>
                            <li>
                                <a href="#">Challenges Limiting Growth</a>
                            </li>
                            <li>
                                <a href="#">Multicultural Entrepreneurship</a>
                            </li>
                            <li>
                                <a href="#">Google Analytics</a>
                            </li>
                            <li>
                                <a href="#">Revitalizing Local Economy</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="main">
                <ul>
                    <li>
                        <a href="#">Directory</a>
                    </li>
                    <li>
                        <a href="#">Survey</a>
                    </li>
                    <li>
                        <a href="#">Our Team</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>