<div class="nav-bar">
    <a class="logo" href="#">
        <img src="images/ayv-logo-fullcolor-horizontal.png" />
    </a>
    <button id="menu-btn">Menu</button>
    <nav id="nav-list">
        <ul>
            <li id="home">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li id="library">
                <ul>
                    <li>
                        <button id="strategies" class="nav-link">Digital Strategies</button>
                        <ul id="strategies-subnav" class="subnav">
                            <li>
                                <a href="#" class="nav-link">Social Media</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Website</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Digital Marketing</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Advertising</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Payments</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button id="growth" class="subnav-btn nav-link">Growth Opportunities</button>
                        <ul id="growth-subnav" class="subnav">
                            <li>
                                <a href="#" class="nav-link">Funding</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Consulting Programs</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Webinars</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button id="resources" class="subnav-btn nav-link">Local Resources</button>
                        <ul id="resources-subnav" class="subnav">
                            <li>
                                <a href="#" class="nav-link">City</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">State</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Non-profit</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button id="articles" class="subnav-btn nav-link">Business Articles</button>
                        <ul id="articles-subnav" class="subnav">
                            <li>
                                <a href="#" class="nav-link">Impact Local Economy</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Challenges Limiting Growth</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Multicultural Entrepreneurship</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Google Analytics</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Revitalizing Local Economy</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="main">
                <ul>
                    <li>
                        <a href="#" class="nav-link">Directory</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Survey</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Our Team</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>