<div class="nav-bar">
    <a class="logo" href="/">
        <img alt="Amplify Your Voice!" src="images/ayv-logo-horizontal.svg" />
    </a>
    <label id="menu-btn" for="menu">Menu</label>
    <input type="checkbox" id="menu">
    <nav id="global-nav">
        <ul>
            <li id="home-btn">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li id="library">
                <label class="nav-link" id="resources-btn" for="resources">Resources</label>
                <input type="checkbox" id="resources">
                <ul>
                    <li>
                        <label class="nav-label" for="strategies">Digital Strategies</label>
                        <input type="checkbox" id="strategies">
                        <ul class="subnav">
                            <li>
                                <a href="#" class="nav-link">Social Media</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Website</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Digital Marketing</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Advertising</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Payments</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label class="nav-label" for="growth">Growth Opportunities</label>
                        <input type="checkbox" id="growth">
                        <ul class="subnav">
                            <li>
                                <a href="#" class="nav-link">Funding</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Consulting Programs</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Webinars</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label class="nav-label" for="local-resources">Local Resources</label>
                        <input type="checkbox" id="local-resources">
                        <ul class="subnav">
                            <li>
                                <a href="#" class="nav-link">City</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">State</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Non-profit</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label class="nav-label" for="articles">Business Articles</label>
                        <input type="checkbox" id="articles">
                        <ul class="subnav">
                            <li>
                                <a href="#" class="nav-link">Impact Local Economy</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Challenges Limiting Growth</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Multicultural Entrepreneurship</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Google Analytics</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Revitalizing Local Economy</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="main">
                <ul>
                    <li>
                        <a href="#" class="nav-link">Directory</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Survey</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Our Team</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>